nav.navbar.navbar-default
  .container
    #navbar.collapse.navbar-collapse
      button.navbar-left.btn.btn-default.navbar-btn(type="button" ng-click="logout()" ng-show="email !== ''" style="margin-left:10px;") #{lang.nav_logout}
      p.navbar-text.navbar-left(ng-show="email !== ''" style="margin-left:10px;") {{email}} #{lang.nav_logged_in_as}
      ul.nav.navbar-nav
        li(ng-show="admin" ng-class="{ active: isActive('/users')}")
          a(href='#!/users') Users
        li(ng-show="admin" ng-class="{ active: isActive('/actions')}")
          a(href='#!/actions') Actions
        li(ng-show="username !== '' && !admin" ng-class="{ active: isActive('/finish')}")
          a(href='#!/finish') #{lang.nav_finish}
        li(ng-show="username !== '' && !admin" ng-class="{ active: isActive('/layout')}")
          a(href='#!/layout') #{lang.nav_layout}
        li(ng-show="username !== '' && !admin" ng-class="{ active: isActive('/materials')}")
          a(href='#!/materials') #{lang.nav_materials}
        li(ng-show="username !== '' && !admin" ng-class="{ active: isActive('/welcome')}")
          a(href='#!/welcome') #{lang.nav_welcome}
      a.navbar-brand(href='#')
        // #{lang.title}
        img(src="images/android-chrome-192x192.png" style="width:72px;height:auto;")
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only #{lang.toogle_navigation}
        span.icon-bar
        span.icon-bar
        span.icon-bar
    // /.nav-collapse     
      