.container
  h1 #{lang.finish_title}
  h2 {{ctrl.isLoading}}
  h2 {{ctrl.final}}
  img.loader(ng-show="ctrl.isLoading" src="/images/loader.gif")
  p.well(ng-show="!ctrl.isLoading && !ctrl.final") #{lang.finish_text}
  p.well(ng-show="!ctrl.isLoading && ctrl.final") #{lang.finish_completed}
  a(href='/book/'+actionid target="_blank" ng-show="!ctrl.isLoading && ctrl.final") 
    i.fa.fa-file-pdf-o(aria-hidden="true")
    span   #{lang.finish_pdf_link}
  button.btn.btn-lg.btn-primary(type="button" ng-show="!ctrl.isLoading && !ctrl.final" ng-click="ctrl.finalize()")
    span #{lang.finish_done}  
    i.fa.fa-book(aria-hidden="true")
