.container
  h1 #{lang.finish_title}
  .spinner(ng-show="ctrl.isLoading")
  p(ng-show="!ctrl.isLoading && !ctrl.final") #{lang.finish_text}
  p(ng-show="!ctrl.isLoading && ctrl.final") #{lang.finish_completed}
  button.btn.btn-lg(type="button" ng-show="!ctrl.isLoading && ctrl.book!='Y'" ng-click="ctrl.createBook()" ng-class="{'btn-warning':ctrl.creating, 'btn-primary':!ctrl.creating}" ng-disabled="ctrl.creating")
    span(ng-show="!ctrl.creating") #{lang.finish_createbook}  
    i.fa.fa-book(aria-hidden="true" ng-show="!ctrl.creating")
    span(ng-show="ctrl.creating") #{lang.finish_creating}   
    i.fa.fa-cog.fa-spin(aria-hidden="true" ng-show="ctrl.creating")
  a.btn.btn-lg.btn-primary(ng-href="/book/{{ctrl.actionid}}" target="_blank" ng-show="!ctrl.isLoading && ctrl.book=='Y'" style="font-size: 1.5em;") 
    span.fa-stack(style="width: 1em;height: 1em;line-height: 1em;")
      i.fa.fa-file.fa-stack-1x(aria-hidden="true" style="color:#CDCDCD;")
      i.fa.fa-file-pdf-o.fa-stack-1x(aria-hidden="true" style="color:red;")
    span   #{lang.finish_pdf_link}
  button.btn.btn-lg.btn-primary(type="button" ng-show="!ctrl.isLoading && !ctrl.final" ng-click="ctrl.finalize()" style="margin-left:10px;margin-bottom:10px;")
    span #{lang.finish_done}  
    i.fa.fa-book(aria-hidden="true")
  p.well(ng-show="ctrl.creating") #{lang.finish_create}
