.spinner(ng-show="ctrl.catLoading")  
.container(ng-show="!ctrl.catLoading")
  .form-inline
    .form-group
      label(for="categorySelect") 
        i.fa.fa-lock.lock(aria-hidden="true" ng-show="ctrl.final"  style="margin-right:10px;" title=lang.layout_locked)
        span.sr-only.lock(ng-show="ctrl.final") #{lang.layout_locked}
        span #{lang.layout_categorySelect}
      select#categorySelect.form-control(ng-options="cat.translation for cat in ctrl.categories track by cat.id" ng-model="ctrl.selectedCategory" ng-change="ctrl.selectCategory()")
    .form-group(ng-show="ctrl.selectedCategory.realPages.length > 1")
      label(for="pageSelect") #{lang.layout_pageSelect}
      select#pageSelect.form-control(ng-options="n as n for n in ctrl.selectedCategory.realPages" ng-model="ctrl.selectedPage" ng-change="ctrl.selectPage()")
    .form-group(ng-show="ctrl.selectedCategory.layouts.length > 1 && !ctrl.final" style="height: 64px;")
      label(for="layoutSelect") #{lang.layout_layoutSelect}
      ui-select#layoutSelect(ng-model='ctrl.selectedLayout', theme='bootstrap', search-enabled='false', on-select='ctrl.onLayoutSelectCallback($item, $model)')
        ui-select-match(placeholder='Select a Layout')
          span
            span(ng-class='ctrl.getIconClass($select.selected.symbol)' style="display:inline;")
            span(style="font-family: 'Source Sans Pro',sans-serif; display:inline; margin-left:3px;")  {{$select.selected.name}}
        ui-select-choices(repeat='layout in ctrl.selectedCategory.layouts')
          span
            span(ng-class='ctrl.getIconClass(layout.symbol)'  style="display:inline;")
            span(style="font-family: 'Source Sans Pro',sans-serif; display:inline; margin-left:3px;")  {{layout.name}}
    .form-group
      label &nbsp;
      button.btn.btn-default.form-control(ng-click="ctrl.openInstructions()") #{lang.layout_instructions}
.spinner(ng-show="ctrl.pageLoading")  
.container(ng-show="!ctrl.pageLoading" style="margin-top:20px;")
  #page(ng-style="ctrl.pageImage")      
    .position(ng-repeat="position in ctrl.selectedLayout.positions" ng-class="{'has-image':position.value}" ng-style="position.style"  data-position-index="{{position.index}}" data-position-id="{{position.id}}")
      textarea(ng-show="!position.isImage" ng-fitty ng-fitty-details="position.details" style="width:100%;height:100%;overflow:auto;" ng-disabled="ctrl.final" ng-model="position.value")
      form.myDropZone(ng-show="!position.value && position.isImage && !ctrl.final" enctype="multipart/form-data" ng-dropzone dropzone="position.dropzone" dropzone-config="position.dropzoneConfig" event-handlers="{'error':ctrl.uploadError, 'dragenter':ctrl.dragEnter, 'dragleave':ctrl.dragLeave, 'drop':ctrl.dragLeave, 'success':ctrl.success, 'sending':ctrl.sending}")
        span.dz-message(ng-show="!position.value" title=lang.layout_upload)
          i.fa.fa-upload(aria-hidden="true" ng-show="!position.sending")
          span(ng-show="!position.sending")  #{lang.layout_upload}
          i.fa.fa-cog.fa-spin(aria-hidden="true" ng-show="position.sending")
      span.edit-overlay(ng-show="position.value && !position.deleting && position.isImage  && !ctrl.final && !position.sending" ng-click="ctrl.delete(position)"  title=lang.layout_delete)
        i.fa.fa-trash(aria-hidden="true" style="color:red;")
        span.sr-only  #{lang.layout_delete}
      span.edit-overlay(ng-show="position.value && !position.deleting && position.isImage && !ctrl.final && !position.sending" ng-click="ctrl.openEditor(position)"  title=lang.layout_edit style="margin-right:10px;")
        i.fa.fa-pencil(aria-hidden="true")
        span.sr-only  #{lang.layout_edit}
      i.fa.fa-cog.fa-spin(aria-hidden="true" ng-show="position.value && position.deleting || position.sending")
      span#makeText.edit-overlay(ng-show="!position.deleting && position.isImage && !ctrl.final && position.possibleType==='both' && !position.sending" ng-click="ctrl.makeText(position)"  title=lang.layout_make_text)
        i.fa.fa-font(aria-hidden="true" style="color:#0068d9;")
        span.sr-only  #{lang.layout_make_text}
      span.edit-overlay(ng-show="!position.deleting && !position.isImage && !ctrl.final && position.possibleType==='both' && !position.sending" ng-click="ctrl.makeImage(position)"  title=lang.layout_make_image)
        i.fa.fa-picture-o(aria-hidden="true")
        span.sr-only  #{lang.layout_make_image}
      span.edit-overlay(ng-show="!position.deleting && !position.isImage && !ctrl.final && !position.sending" ng-click="ctrl.saveText($event, position)"  title=lang.layout_save_text)
        i.fa.fa-floppy-o(aria-hidden="true")
        span.sr-only  #{lang.layout_save_text}
