.container
  h1 #{lang.materials_title}
  p #{lang.materials_text}
  h2 #{lang.materials_worksheets}
  .row(style="margin-bottom:10px;")
    .col-sm-1
      img.img-responsive(src="images/material_worksheets.png" )
    .col-sm-11
      p #{lang.materials_worksheets_text}
  ul
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_my_name.pdf" download=lang.materials_worksheets_my_name) #{lang.materials_worksheets_my_name}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_proud_of.pdf") #{lang.materials_worksheets_proud_of}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_drawing_fear.pdf") #{lang.materials_worksheets_drawing_fear}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_narrative_fear.pdf") #{lang.materials_worksheets_narrative_fear}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_poem_fear.pdf") #{lang.materials_worksheets_poem_fear}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_drawing_able.pdf") #{lang.materials_worksheets_drawing_able}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_drawing_strength.pdf") #{lang.materials_worksheets_drawing_strength}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_pictures_help.pdf") #{lang.materials_worksheets_pictures_help}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_drawing_learning.pdf") #{lang.materials_worksheets_drawing_learning}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_learning.pdf") #{lang.materials_worksheets_learning}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_drawing_problem.pdf") #{lang.materials_worksheets_drawing_problem}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_problem.pdf") #{lang.materials_worksheets_problem}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_drawing_danger.pdf") #{lang.materials_worksheets_drawing_danger}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_danger.pdf") #{lang.materials_worksheets_danger}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_drawing_power.pdf") #{lang.materials_worksheets_drawing_power}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_power.pdf") #{lang.materials_worksheets_power}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_keys_to_strength.pdf") #{lang.materials_worksheets_keys_to_strength}
  hr
  h2 #{lang.materials_stories}
  .row(style="margin-bottom:10px;")
    .col-sm-1
      img.img-responsive(src="images/material_stories.png" )
    .col-sm-11
      p #{lang.materials_stories_text}
  ul
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "stories_noises.pdf") #{lang.materials_stories_noises}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "stories_learning.pdf") #{lang.materials_stories_learning} 
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "stories_problems.pdf") #{lang.materials_stories_problems}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "stories_crisis.pdf") #{lang.materials_stories_crisis}
  hr
  h2 #{lang.materials_games}
  .row(style="margin-bottom:10px;")
    .col-sm-1
      img.img-responsive(src="images/material_games.png" )
    .col-sm-11
      p #{lang.materials_games_text}
  ul
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "games_lions.pdf") #{lang.materials_games_lions}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "video_lions.mp4") #{lang.materials_videos_lions}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "games_fli_flei_floh.pdf") #{lang.materials_games_fli_flei_floh}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "video_fli_flei_flo.mp4") #{lang.materials_videos_fli_flei_floh}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "games_walking_in_rain.pdf") #{lang.materials_games_walking_in_rain}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "games_meditation.pdf") #{lang.materials_games_meditation}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "games_learning.pdf") #{lang.materials_games_learning}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "games_luggage.pdf") #{lang.materials_games_luggage}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "games_numbers.pdf") #{lang.materials_games_numbers}
  hr
  h2 #{lang.materials_maps}
  .row(style="margin-bottom:10px;")
    .col-sm-1
      img.img-responsive(src="images/material_maps.png" )
    .col-sm-11
      p #{lang.materials_maps_text}
  ul
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "maps_world.jpg") #{lang.materials_maps_world}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "maps_stories_crisis.jpg") #{lang.materials_maps_stories_crisis}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "maps_brazil.jpg") #{lang.materials_maps_brazil}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "maps_germany.jpg") #{lang.materials_maps_germany}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "maps_canada.jpg") #{lang.materials_maps_canada}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "maps_laos.jpg") #{lang.materials_maps_laos}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "maps_malaysia.jpg") #{lang.materials_maps_malaysia}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "maps_maledives.jpg") #{lang.materials_maps_maledives}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "maps_mogolia.jpg") #{lang.materials_maps_mogolia}  
  hr
  h2 #{lang.materials_templates}
  .row(style="margin-bottom:10px;")
    .col-sm-1
      img.img-responsive(src="images/material_templates.png" )
    .col-sm-11
      p #{lang.materials_templates_text}
  ul
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "templates_rules.pdf") #{lang.materials_templates_rules}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "templates_arc_of_suspense.pdf") #{lang.materials_templates_arc_of_suspense}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "templates_notes.pdf") #{lang.materials_templates_notes}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "templates_tipps.pdf") #{lang.materials_templates_tipps}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "templates_presentation.pdf") #{lang.materials_templates_presentation}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "templates_invitation.pdf") #{lang.materials_templates_invitation}
  hr
  h2 #{lang.materials_videos}
  .row(style="margin-bottom:10px;")
    .col-sm-1
      img.img-responsive(src="images/material_videos.png" )
    .col-sm-11
      p #{lang.materials_videos_text}
  ul
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "video_boy_slum_pot.mp4") #{lang.materials_videos_boy_slum_pot}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "video_water.mp4") #{lang.materials_videos_water}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "video_gecko_pot.mp4") #{lang.materials_videos_gecko}
