.container
  h1 #{lang.materials_title}
  h2 #{lang.materials_worksheets}
  ul
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_my_name") #{lang.materials_worksheets_my_name}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_proud_of") #{lang.materials_worksheets_proud_of}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_drawing_fear") #{lang.materials_worksheets_drawing_fear}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_narrative_fear") #{lang.materials_worksheets_narrative_fear}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_poem_fear") #{lang.materials_worksheets_poem_fear}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_drawing_able") #{lang.materials_worksheets_drawing_able}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_pictures_help") #{lang.materials_worksheets_pictures_help}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_drawing_strength") #{lang.materials_worksheets_drawing_strength}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_drawing_learning") #{lang.materials_worksheets_drawing_learning}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_learning") #{lang.materials_worksheets_learning}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_drawing_problem") #{lang.materials_worksheets_drawing_problem}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_problem") #{lang.materials_worksheets_problem}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_drawing_danger") #{lang.materials_worksheets_drawing_danger}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_danger") #{lang.materials_worksheets_danger}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_drawing_power") #{lang.materials_worksheets_drawing_power}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_power") #{lang.materials_worksheets_power}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "worksheets_keys_to_strength") #{lang.materials_worksheets_keys_to_strength}
  hr
  h2 #{lang.materials_stories}
  ul
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "stories_noises") #{lang.materials_stories_noises}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "stories_learning") #{lang.materials_stories_learning} 
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "stories_problems") #{lang.materials_stories_problems}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "stories_crisis") #{lang.materials_stories_crisis}
  hr
  h2 #{lang.materials_games}
  ul
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "games_lions") #{lang.materials_games_lions}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "games_fli_flei_floh") #{lang.materials_games_fli_flei_floh}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "games_walking_in_rain") #{lang.materials_games_walking_in_rain}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "games_meditation") #{lang.materials_games_meditation}
    li #{lang.materials_games_more}
  hr
  h2 #{lang.materials_templates}
  ul
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "templates_rules") #{lang.materials_templates_rules}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "templates_arc_of_suspense") #{lang.materials_templates_arc_of_suspense}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "templates_notes") #{lang.materials_templates_notes}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "templates_tipps") #{lang.materials_templates_tipps}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "templates_presentation") #{lang.materials_templates_presentation}
    li
      a(target="_blank" href="/downloads/" + lang.key + "/" + "templates_invitation") #{lang.materials_templates_invitation}
  hr
  h2 #{lang.materials_videos}
  ul
    li
      a(target="_blank" href=lang.materials_videos_link_fli_flei_floh) #{lang.materials_videos_fli_flei_floh}
    li
      a(target="_blank" href=lang.materials_videos_link_lions) #{lang.materials_videos_lions}
    li
      a(target="_blank" href=lang.materials_videos_link_boy_slum_pot) #{lang.materials_videos_boy_slum_pot}
    li
      a(target="_blank" href=lang.materials_videos_link_water) #{lang.materials_videos_water}
    li
      a(target="_blank" href=lang.materials_videos_link_gecko) #{lang.materials_videos_gecko}
