.container
  h1 #{lang.welcome_title}
  p #{lang.welcome_text}
  p
    a(href='/pdf/stc_manual_'+lang.key target="_blank")  #{lang.intro_manual}
  p
    a(href='#!/materials')  #{lang.welcome_materials}
  p
    button.btn.btn-lg.btn-primary(type="button" ng-click="toLayouter()")
      span #{lang.nav_layout}  
      i.fa.fa-chevron-right(aria-hidden="true")
  p
    a(href='/powerpoint/'+lang.key target="_blank") #{lang.welcome_powerpoint}
