h1 #{lang.finish_title}
p #{lang.finish_text}
a(href=lang.finish_pdf target="_blank") #{lang.finish_pdf_link}
button.btn.btn-lg.btn-primary(type="button")
  span #{lang.finish_done}
  i.fa.fa-book(aria-hidden="true")
p.well #{lang.finish_completed}
