doctype html
html(lang=lang.key)
  head
    include ../includes/head.jade
    script(src='js/jquery.min.js')
  body.no-skin
    .container
      h1 #{lang.head_storytelling}
      .row.row-grid
        .col-md-6
          div(style='position:relative;height:0;padding-bottom:56.25%')
            iframe(src='https://www.youtube.com/embed/OyqIAxo71Dc?rel=0&showinfo=0?ecver=2', width='640', height='360', frameborder='0', style='position:absolute;width:100%;height:100%;left:0', allowfullscreen='')
        .col-md-6
          p #{lang.intro_text}
      .row.row-grid
        .col-md-6
          a.btn-primary.btn-lg.btn.btn-block(href="login") #{lang.intro_login}
        .col-md-6
          a.btn-primary.btn-lg.btn.btn-block(href="register") #{lang.intro_register}
        .col-md-6
          a.btn-default.btn.btn-block(href="pdf/manual_"+lang.key target="_blank") #{lang.intro_manual}
        .col-md-6
          a.btn-default.btn.btn-block(href="pdf/usage_"+lang.key target="_blank") #{lang.intro_usage}
    include ../includes/footer.jade
