doctype html
html(lang=lang.key)
  head
    include ../includes/head.jade
    script(src='js/jquery.min.js')
  body.no-skin
    .container
      h1.text-center
          img(src="images/android-chrome-192x192.png" style="height: 50px;margin-right: 10px;")
          span #{lang.head_storytelling}
      .row.row-grid
        .col-md-6
          div(style='position:relative;height:0;padding-bottom:56.25%')
            iframe(src='https://www.youtube.com/embed/OyqIAxo71Dc?rel=0&showinfo=0?ecver=2', width='640', height='360', frameborder='0', style='position:absolute;width:100%;height:100%;left:0', allowfullscreen='')
        .col-md-6
          p #{lang.intro_text}
      .row.row-grid
        .col-md-6
          p #{lang.intro_text_buttons}
          a.btn-primary.btn-lg.btn.btn-block(href="register") #{lang.intro_register}
          a.btn-default.btn-lg.btn.btn-block(href="login") #{lang.intro_login}
        .col-md-3
          a(href="pdf/stc_book_demo_"+lang.key target="_blank" title=lang.intro_manual)
            img.img-responsive(src="images/demo_book_"+lang.key+".jpg")
        .col-md-3
          a(href="pdf/stc_manual_demo_"+lang.key target="_blank" title=lang.intro_manual)
            img.img-responsive(src="images/demo_manual_"+lang.key+".jpg")
    include ../includes/footer.jade
