doctype html
html(lang=lang.key)
  head
    include ../includes/head.jade
    link(rel='stylesheet', href='css/login.min.css')
    script(src='js/jquery.min.js')
    script(src='js/jquery.cookie.js')
    script(src='js/jquery.md5.js')
    script(src='js/login.js')
  body
    .container
      h1 #{lang.intro_login}
      .row
        .col-md-10.col-md-offset-1
          section.register-form
            form.form-horizontal
              .form-group
                label.col-sm-2(for="login-email") #{lang.login_email}
                input#login-email.col-sm-10.form-control.input-lg(type='email' placeholder=lang.login_email)
              .form-group
                label.col-sm-2(for="login-password") #{lang.login_password}
                input#login-password.col-sm-10.form-control.input-lg(type='password' placeholder=lang.login_password)
              .form-group
                .col-sm-10
                  .g-recaptcha(data-sitekey=captcha)
              .form-group
                .col-sm-12
                  button#login-submit.btn.btn-lg.btn-primary.btn-block(type='submit' role='button') #{lang.login_login}
              p#login-error.well(style="display:none;")
                .form-group
                  .col-sm-6
                    a.btn.btn-lg.btn-default(href='/reset') #{lang.link_reset}
                  .col-sm-6
                    a.btn.btn-lg.btn-default(href='/register') #{lang.link_register}      
    include ../includes/footer.jade
