doctype html
html(lang=lang.key)
  head
    include ../includes/head.jade
    link(rel='stylesheet', href='css/login.min.css')
    script(src='js/jquery.min.js')
    script(src='js/jquery.cookie.js')
    script(src='js/jquery.md5.js')
    script(src='js/register.js')
  body
    .container
      .row
        .col-md-4.col-md-offset-4
          section.register-form
            form.form-horizontal
              .form-group
                label.col-sm-2(for="register-language") #{lang.login_language}
                select#register-language.col-sm-10.form-control
                  each l in languages
                    option(value=l.key)= l.name
              .form-group
                label.col-sm-2(for="register-email") #{lang.login_email}
                input#register-email.col-sm-10.form-control.input-lg(type='email' placeholder=lang.login_email)
              .form-group
                label.col-sm-2(for="register-vorname") #{lang.login_vorname}
                input#register-vorname.col-sm-10.form-control.input-lg(type='text' placeholder=lang.login_vorname)    
              .form-group
                label.col-sm-2(for="register-nachname") #{lang.login_nachname}
                input#register-nachname.col-sm-10.form-control.input-lg(type='text' placeholder=lang.login_nachname)    
              .form-group
                label.col-sm-2(for="register-password") #{lang.login_password}
                input#register-password.col-sm-10.form-control.input-lg(type='password' placeholder=lang.login_password)
              .form-group
                label.col-sm-2(for="register-passwordrepeat") #{lang.login_passwordrepeat}
                input#register-passwordrepeat.col-sm-10.form-control.input-lg(type='password' placeholder=lang.login_passwordrepeat)                    
              .form-group
                label.col-sm-2(for="register-location") #{lang.login_location}
                input#register-location.col-sm-10.form-control.input-lg(type='text' placeholder=lang.login_location)     
              .form-group
                label.col-sm-2(for="register-start") #{lang.login_start}
                input#register-start.col-sm-10.form-control.input-lg(type='text' placeholder=lang.login_start)   
              .form-group
                label.col-sm-2(for="register-stop") #{lang.login_stop}
                input#register-stop.col-sm-10.form-control.input-lg(type='text' placeholder=lang.login_stop)
              .form-group
                .col-sm-offset-2.col-sm-10
                  .g-recaptcha(data-sitekey=captcha)
              .form-group
                .col-sm-offset-2.col-sm-10
                  button#register-submit.btn.btn-lg.btn-primary(type='submit' role='button') #{lang.login_register}
              p#register-error.well(style="display:none;")
            .form-links
              a(href='http://resilienz.prixjeunesse.de') resilienz.prixjeunesse.de
    include ../includes/footer.jade
