doctype html
html(lang=lang.key)
  head
    include ../includes/head
    link(rel='stylesheet', href='css/login.min.css')
    script(src='js/jquery.min.js')
    script(src='https://www.google.com/recaptcha/api.js')
    script(src='js/jquery.cookie.js')
    script(src='js/jquery.md5.js')
    script(src='js/set_pwd.js')
  body
    .container
      h1 #{lang.set_password}
      .row
        .col-md-10.col-md-offset-1
          section.set-form
            form.form-horizontal
              .form-group
                label.col-sm-2(for="set-password") #{lang.set_password}
                input#set-password.col-sm-10.form-control.input-lg(type='password' placeholder=lang.set_password)
              .form-group
                label.col-sm-2(for="set-passwordrepeat") #{lang.set_passwordrepeat}
                input#set-passwordrepeat.col-sm-10.form-control.input-lg(type='password' placeholder=lang.set_passwordrepeat)                    
              .form-group
                .col-sm-offset-2.col-sm-10
                  .g-recaptcha(data-sitekey=captcha)
              .form-group
                .col-sm-offset-2.col-sm-10
                  input#set-resetToken(type='hidden' value=resetToken)
                  input#set-email(type='hidden' value=email)
                  button#set-submit.btn.btn-lg.btn-primary(role='button') #{lang.set_send}
              p#set-error.well(style="display:none;")
    include ../includes/footer
